.divService{
    background: rgba(220, 220, 220, 0.116);
}

.Service .box {
    min-height: 100px;
    transition: 800ms;
    min-width: 300px;
    cursor: pointer;
    
}

.Service .box:hover {
    transform: scale(0.9, 0.9);
}

