* {
    box-sizing: border-box;
    margin: 0;
}

.signUpFluid {
    direction: rtl;
    height: 745px;
    background: linear-gradient(to right, rgba(0, 0, 255, 0.623) 50%, white 50%);
}

.box {
    width: 500px;
}

.bb {
    background: rgba(0, 0, 255, 0.623);
    width: inherit;
}

.img1 {
    display: none;
}

@media (min-height:1920px) {
    .signUpFluid {
        height: 961px;
    }
}

@media (max-width:768px) {
    .signUpFluid {
        /* background: linear-gradient(to top, rgba(0, 0, 255, 0.623) 0%,white 100%); */
        background: white;
        /* background:rgba(0, 0, 255, 0.623) ; */
        padding-top: 30px;
    }
    .left {
        margin-top: 0px;
        margin-right: 0px;
        ;
    }
    .img1 {
        display: block;
    }
    .img2 {
        display: none;
    }
    .h2SignUp {
        display: none;
    }
    .box {
        width: 350px;
    }
}